<div class="input-container">
  <label for="age-1">Edad uno: </label>
  <input type="number" id="age-1" placeholder="ingrese la edad 1" min="0" [(ngModel)]="input_1">

  <label for="age-2">Edad dos: </label>
  <input type="number" id="age-2" placeholder="ingrese la edad 2" min="0" [(ngModel)]="input_2">

  <label for="avg-result">Promedio: </label>
  <input id="avg-result" readonly [(ngModel)]="avg">

  <label for="sum-result">Suma: </label>
  <input id="sum-result" readonly [(ngModel)]="sum">

  <button id="empty-button" (click)="emptyInputs()">Limpiar cuadros de texto</button>
  <button id="calculate-button" (click)="getResults()">Calcular resultados</button>
</div>